.stats {
  float:right;
}
#build-menu div {
  display: inline-block;
  float: left;
  width: 250px;
  margin-bottom: 50px;
}

#canvas-container {
  clear: both;
  position:relative;
  height:400px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  display:block;
}

.grey {
  background:#EEE;
}

#game-over-message {
  display: none;
  font-size: 5em;
  position: absolute;
  top: 25%;
  z-index: 2;
  width:400px;
  margin-left:-200px;
  left:50%;
  text-align: center;
}
