.stats {
  float:right;
}
#build-menu div {
  display: inline-block;
  float: left;
  width: 250px;
  margin-bottom: 50px;
}

#canvas-container {
  clear: both;
  position:relative;
  height:400px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  display:block;
}

.grey {
  background:#EEE;
}

#game-over-message {
  display: none;
  position: absolute;
  top: 10%;
  z-index: 2;
  width:400px;
  margin-left:-200px;
  left:50%;
  text-align: center;
  background-color:rgba(250,250,250,0.8);
}

#game-over-message h1 {
  font-size: 5em;
  text-align: center;
  margin: 0;
}

.selected-building {
  background-color: #efe;
}

#status-messages {
  height: 80px;
  overflow: hidden;
}
